<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
</head>
<body>
<form th:action="@{'/cars/save'}" method="post" th:object="${car}">
  <input type="hidden" th:field="*{id}">
    SPZ: <input type="text" th:field="*{spz}"><br>
    <span th:if="${#fields.hasErrors('spz')}" th:errors="*{spz}"></span><br>
  Color: <input type="text" th:field="*{color}"><br>
    <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span><br>
  tank Volume: <input type="number" th:field="*{tankVolume}"><br>
    <span th:if="${#fields.hasErrors('tankVolume')}" th:errors="*{tankVolume}"></span><br>
  number Of Seats: <input type="number" th:field="*{numberOfSeats}"><br>
    <span th:if="${#fields.hasErrors('numberOfSeats')}" th:errors="*{numberOfSeats}"></span><br>
  <input type="submit" value="Save">
</form>

</body>
</html>