<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Edit Driver' : 'New Driver'}"></title>
</head>
<body>
<form th:action="@{'/drivers/save'}" method="post" th:object="${driver}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    Age: <input type="text" th:field="*{age}">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span><br>
    Salary: <input type="number" th:field="*{salary}">
    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span><br>
    <input type="submit" value="Save">
</form>
</body>
</html>