<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Edit</title>
</head>
<body>
<form th:action="@{'/driver/save'}" method="post" th:object="${driver}">
  <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    Age: <input type="text" th:field="*{age}"><br>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span><br>
  Salary: <input type="number" th:field="*{salary}"><br>
    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span><br>
  <input type="submit" value="Save">
</form>

</body>
</html>