<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of All Offers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
</head>
<body>
<div class="container">
    <h1>List of All Offers</h1>

    <!-- New Offer Button -->
    <div class="new-demand">
        <a th:href="@{'/offers/create'}" class="btn btn-primary">New Offer</a>
    </div>

    <!-- Offers List -->
    <ul class="demands-list">
        <li th:each="offer: ${offers}">
            <div>
                <a th:href="@{'/offers/detail/' + ${offer.id}}" class="demand-link">
                    <span th:text="${offer.title}"></span>
                </a>
                <span> - Created by: </span>
                <span th:text="${offer.user.email}"></span>
            </div>
        </li>
    </ul>

    <!-- Go back Button -->
    <a th:href="@{'/'}" class="btn btn-secondary">Go back</a>
</div>
</body>
</html>
