<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
</head>
<body>
<div class="container">
    <h1>User Details</h1>

    <div class="details">
        <p><b>Username:</b> <span th:text="${user.username}"></span></p>
        <p><b>Email:</b> <span th:text="${user.email}"></span></p>
        <p><b>Role:</b> <span th:text="${user.role}"></span></p>
    </div>

    <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-secondary">User Edit</a>
    <!-- Form for deleting the account -->
    <form th:action="@{/users/deleteAccount}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
    <a th:href="@{/logout}" class="btn btn-secondary">Logout</a>
    <a th:href="@{/}" class="btn btn-secondary">Go back</a>

</div>
</body>
</html>
